{% extends 'base.html' %}
{% block title %}Crawl Home{% endblock %}
{% block head %}


{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row mt-4">
    <h1>Welcome to the Melon Tasting Reservation Scheduler</h1>
    <p id="tagline">Schedule a melon tasting with ease!</p>
  </div>


  <div class="row">
    <div class="col-8">
      <img src="/static/img/melons.jpeg" class="img-fluid">
    </div>
    <div class="col-4">


      <h3>Log In</h3>
      <row>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label"> Email </label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
      </row>

    </div>
  </div>
</div>

{% endblock %}