{% extends 'base.html' %}
{% block title %}Appointment Search{% endblock %}
{% block head %}


{% endblock %}
{% block navbar %}
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 m-0">
  <a class="navbar-brand" href="/">Melon Tasting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/appointment-search">Schedule a Tasting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scheduled-appointments">View My Scheduled Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log-out">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block body %}
    <div class="row my-4">
        <h1>Your Scheduled Melon Tasting Appointments</h1>
    </div>


    <div class="row mb-3">

        <div class="col-4 mx-auto">
            <ul>
                {% for appointment in appointments %}

                <li>{{appointment}}</li>

                {% endfor %}
            </ul>


        </div>
    </div>
</div>

{% endblock %}